html, body {
	width: 100%;
	min-height: 100%;
	padding: 0px;
	margin: 0px;
	background: #CBC4CB;

}

* {
	font-family: "Lucida Sans";
}


/* HEADER */
#header {
	position: fixed;
	height: 14%;
	text-align: center;
	display: flex;
	flex-direction: row;
	align-content: center;
	justify-content: space-between;

	width: 98%;
	padding: 1%;

	background: #522D80;
	box-shadow: 0px 10px 10px rgba(30, 30, 30, 0.5);

	border-bottom: 1vw solid #F56600;

	transition: all 1s;
}

/* Logo */
#logo {
	flex: 2;

	align-content: left;
	text-align: left;
	padding: 0px;
}

#logo img {
	height: 100%;
	width:  auto;
}

/* Nav */
#nav {
	flex: 3;

	display: flex;
	flex-direction: row;
	content-align: flex-end;
	justify-content: flex-end;
	align-self: flex-end;

	height: 50%;
}

.nav-item { 
	color: white;
	text-decoration: none;
	align-self: end;

	font-size: 2vh;

	padding-right: 10px;
	padding-left: 10px;

	border-right: 3px solid #522D80;

	transition: 1s;

	cursor: pointer;
}

.nav-item:hover {
	border-right: 3px solid white;
	font-size: 3vh;
}

.selected {
	border-right: 3px solid #F56600;
	font-size: 3vh;
	color: #F56600;
	font-weight: bold;
}